<!DOCTYPE html>
<html lang="en" ng-app="helloAngular">
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
	<script type="text/javascript" src="js/angular-1.6.10.min.js"></script>	
	<script type="text/javascript" src="js/scope.js"></script>
</head>
<body>
	<div ng-controller="myCtrl">
    	<input ng-model="name">
    	<h1>{{greeting}}</h1>
    	<button ng-click='sayHello()'>点我</button>    
	</div>

	<div ng-controller="EventController">
		Root scope
		<tt>MyEvent</tt>count:{{count}}
		<ul>
			<li ng-repeat="i in [1]" ng-controller="EventController">
				<button ng-click="$emit('MyEvent')">
					$emit('MyEvent')
				</button>
				<button ng-click="$broadcast('MyEvent')">
					$broadcast('MyEvent')
				</button>
				<br>
				Middle scope
				<tt>MyEvent</tt>count:{{count}}
				<ul>
					<li ng-repeat="item in [1,2]" ng-controller="EventController">
						Leaf scope
						<tt>MyEvent</tt>count:{{count}}
					</li>
				</ul>
			</li>	
		</ul>		
	</div>	
</body>
</html>