<div ng-controller="myTab">
	<div>
		<div class="tab" ng-click="myClick($event);"> tab1</div>
		<div class="tab" ng-click="myClick($event);"> tab2</div>
	</div>

	<section>
		<div class="content" ng-show="tab=='tab1'"> tab1 content</div>
		<div class="content" ng-show="tab=='tab2'"> tab2 content 222222222222222222222</div>
	</section>	
</div>
<style type="text/css">
	.tab{
		padding: 30px;
		color: red;
		font-size: 32px;
		display: inline-block;
		border:solid 1px red;
	}
	.content{
		width: 300px;
		height: 300px;
		border: solid 1px #ddd ;		
	}
</style>